{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>sport</title>
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/sport.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="script.js"></script>
</head>
<body>
<div class="page-header">
    {% if user.is_authenticated %}
        <h2 class="top-menu">Hello {{ user.username }} </h2>
    {% endif %}
    <h1>Activity tracker</h1>

</div>

<div id='cssmenu'>
    <ul>
        <li class='active'><a href='/'><span>Home</span></a></li>
        <li><a href='/disciplines'><span>Disciplines</span></a></li>
        <li><a href='/calendar'><span>Calendar</span></a></li>
        <li><a href='/statistics'><span>Statistics</span></a></li>
        <li><a href="{% url 'events_from_date' lower=False %}"><span>Upcoming Events</span></a></li>
        <li class='last'><a href="{% url 'events_from_date' lower=True %}"><span>Old Events</span></a></li>
    </ul>
</div>

<div id='rightpanel'>
    {% if user.is_authenticated %}
        <ul>
            <li>
                <a href="{% url 'competition_new' %}" title="New activity"><span class="glyphicon glyphicon-plus"></span></a>
            </li>
            <li><br/><br/><br/></li>
            <li>
                <a href="{% url 'django.contrib.auth.views.logout' %}" title="Log out"><span class="glyphicon glyphicon-log-out"></span></a>

            </li>
        </ul>
    {% else %}
        <ul>
            <li>
                <a href="{% url 'django.contrib.auth.views.login' %}" title="Log in"><span class="glyphicon glyphicon-log-in"></span></a>
            </li>
                        <li><br/><br/><br/></li>

            <li><a href="/accounts/register" title="Register"><span class="glyphicon glyphicon-plus-sign"></span></a>
            </li>
        </ul>
    {% endif %}
</div>

<div class="content container">
    <div class="row">
        <div class="container">
            {% block content %}


            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>