{% extends 'sport/base.html' %}

{% block content %}
    <div class="cont-text-bold">{{ comp.name }}</div>
    <br/>
    <br/>
    <div class="content-text">

        <p>Date: {{ comp.event_date }}</p>
        <p>Discipline: {{ comp.discipline }}</p>
        <p>Distance: {{ comp.distance_without_zeros }}</p>
        <p>Score: {{ comp.score }}</p>

        <br/>
        <br/>
        <p>{{ comp.notes }}</p>

    </div>
{% endblock %}




{% block rightcontent %}
    <li>
        <a href="{% url 'comp_edit' pk=comp.pk %}" title="Edit activity"><span class="glyphicon glyphicon-edit"></span></a>
    </li>
    <li><br/><br/></li>
    <li>
        <a href="{% url 'comp_remove' pk=comp.pk %}" title="Remove activity"><span class="glyphicon glyphicon-remove"></span></a>

    </li>
    <li><br/><br/><br/></li>
{% endblock %}