{% extends 'sport/base.html' %}

{% block content %}
    <div class="comp">
        {#        {% if post.published_date %}#}
        <div class="date">
            {{ comp.event_date }}
            {{ comp.event_time }}
        </div>
        <h1>{{ comp.name }}</h1>
        <p>date: {{ comp.event_date }}</p>
        <p>{{ comp.discipline }}</p>
        <p>distance: {{ comp.distance }}</p>
        <p>score: {{ comp.score }}</p>
    </div>
{% endblock %}




{% block rightcontent %}
    <li>
        <a href="{% url 'comp_edit' pk=comp.pk %}" title="Edit activity"><span class="glyphicon glyphicon-edit"></span></a>
    </li>
    <li><br/><br/></li>
    <li>
        <a href="{% url 'comp_remove' pk=comp.pk %}" title="Remove activity"><span class="glyphicon glyphicon-remove"></span></a>

    </li>
    <li><br/><br/><br/></li>
{% endblock %}