{% extends 'sport/base.html' %}

{% block content %}

    <table style="width:100%">
        <tr>
            <td>
                <a href="{% url 'sorted_view' field='event_date' %}"><span class="glyphicon glyphicon-arrow-down"></span></a>
            </td>
            <td>

            </td>
            <td><a href="{% url 'sorted_view' field='name' %}"><span class="glyphicon glyphicon-arrow-down"></span></a>
            </td>
            <td><a href="{% url 'sorted_view' field='distance' %}"><span class="glyphicon glyphicon-arrow-down"></span></a>
            </td>
            <td><a href="{% url 'sorted_view' field='score' %}"><span class="glyphicon glyphicon-arrow-down"></span></a>
            </td>
        </tr>
        <tr>
            <td>date</td>
            <td>discipline</td>
            <td>name</td>
            <td>distance</td>
            <td>score</td>
            {#            link do notatek#}
        </tr>
        {% for comp in competitions %}
            <tr>
                <td>{{ comp.event_date }}</td>
                <td>{{ comp.discipline }}</td>
                <td><a href="{% url 'comp_detail' pk=comp.pk %}">{{ comp.name }}</a></td>
                <td>{{ comp.distance }}</td>
                <td>{{ comp.score }}</td>
                {#            link do notatek#}
            </tr>
        {% endfor %}
    </table>
{% endblock %}
