{% extends 'sport/base.html' %}

{% block content %}

    {% if competitions %}
        <table style="width:100%" class="rows">
            <tr class="first-row">
                <td><a href="{% url 'sorted_view' field='event_date' %}" title="Sort by date">Date</a></td>
                <td>Discipline</td>
                <td><a href="{% url 'sorted_view' field='name' %}" title="Sort by name">Name</a></td>
                <td><a href="{% url 'sorted_view' field='distance' %}" title="Sort by distance">Distance</a></td>
                <td><a href="{% url 'sorted_view' field='score' %}" title="Sort by score">Score</a></td>
                {#            link do notatek#}
            </tr>
            {% for comp in competitions %}
                <tr>
                    <td>{{ comp.event_date }}</td>
                    <td>{{ comp.discipline }}</td>
                    <td><a href="{% url 'comp_detail' pk=comp.pk %}" title="details">{{ comp.name }}</a></td>
                    <td>{{ comp.distance_without_zeros }}</td>
                    <td>{{ comp.score }}</td>
                    {#            link do notatek#}
                </tr>
            {% endfor %}
        </table>

    {% else %}
        <br/>
        <div class="info-text">You have no activities yet. <br/><br/>
            To add new activity, click the plus sign.
        </div>
    {% endif %}
{% endblock %}


{% block rightcontent %}
    <li>
        <a href="{% url 'summary' %}" title="Show summary"><span class="glyphicon glyphicon-list-alt"></span></a>
    </li>
    <li><br/><br/></li>
{% endblock %}
