{% extends 'sport/base.html' %}

{% block content %}

<div class="cont-text">Choose discipline form listed below:</div>
    <br/>
    <div class="dropdown">
        <button class="dropbtn">------------</button>
        <div class="dropdown-content">
            {% for disc in disciplines %}
                <a href="{% url 'filtered_view_discipline' field=disc.name %}">{{ disc.name }}</a>
            {% endfor %}
        </div>
    </div>
    <br/>
    <br/>
    <br/>
    <div class="cont-text">...or add new one:</div>    <br/>
    <a href="{% url 'discipline_new' %}"><button class="dropbtn">Add new</button></a>
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>

{% endblock %}
