{% extends 'sport/base.html' %}

{% block content %}

Choose discipline form listed below:
    <br/>
    <div class="dropdown">
        <button class="dropbtn">Choose</button>
        <div class="dropdown-content">
            {% for disc in disciplines %}
                <a href="{% url 'filtered_view_discipline' field=disc.name %}">{{ disc.name }}</a>
            {% endfor %}
        </div>
    </div>
    <br/>
    <br/>
    ...or add new one:
    <br/>

    <a href="{% url 'discipline_new' %}"><button class="dropbtn">Add new</button></a>
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>

{% endblock %}
