<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% extends 'sport/base.html' %}

        {% block content %}

            {% for key, values in competitions.items %}
                <br/>
                distance: {{ key }}
                <table style="width:100%">
                    <tr>
                        <td>date</td>
                        <td>discipline</td>
                        <td>name</td>
                        <td>distance</td>
                        <td>score</td>
                        {#            link do notatek#}
                    </tr>
                    {% for dist in values %}
                        <tr>
                            <td>{{ dist.event_date }}</td>
                            <td>{{ dist.discipline }}</td>
                            <td><a href="{% url 'comp_detail' pk=dist.pk %}">{{ dist.name }}</a></td>
                            <td>{{ dist.distance_without_zeros }}</td>
                            <td>{{ dist.score }}</td>
                            {#            link do notatek#}
                        </tr>
                    {% endfor %}
                </table>
            {% endfor %}

        {% endblock %}
    </title>
</head>
<body>

</body>
</html>