{% extends 'sport/base.html' %}

{% block content %}

    <table style="width:100%">
        <tr class="first-row">
            <td>Date</td>
            <td>Discipline</td>
            <td>Name</td>
            <td>Distance</td>
            <td>Score</td>
            {#            link do notatek#}
        </tr>
        {% for comp in competitions %}
            <tr>
                <td>{{ comp.event_date }}</td>
                <td>{{ comp.discipline }}</td>
                <td><a href="{% url 'comp_detail' pk=comp.pk %}">{{ comp.name }}</a></td>
                <td>{{ comp.distance_without_zeros }}</td>
                <td>{{ comp.score }}</td>
                {#            link do notatek#}
            </tr>
        {% endfor %}
    </table>
{% endblock %}