{% extends 'sport/base.html' %}

{% block content %}



        <table style="width:100%" class="rows">
        <tr class="first-row">
            <td>Discipline</td>
            <td>Number of activities</td>
            <td>Distance</td>
            <td>Time</td>
        </tr>
        {% for key, values in disciplines_dict.items %}
            <tr>
                <td>{{ key }}</td>
                <td>{{ values.0 }}</td>
                <td>{{ values.1 }} km</td>
                <td>{{ values.2 }}</td>
            </tr>
        {% endfor %}
    </table>







{% endblock %}